* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post__list {
  width: 100%;
  padding: 20px;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.post {
  padding: 20px;
  border: 1px solid teal;
  margin: 15px;
  display: flex;
  column-gap: 20px;
}

.search-sort .input {
  padding: 15px 15px;
  border: 1px solid teal;
  width: 50%;
}

.search-sort {
  display: flex;
  margin: 15px 0 0 15px;
  column-gap: 30px;
  align-items: center;
}

.search-sort button {
  color: white;
  background-color: teal;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.search-sort button:hover {
  background-color: rgb(76, 118, 118);
}
